<footer class="footer text-center">
    <div class="container">
        <div class="row">
            
            <!-- Footer location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4" style="color:white">Location</h4>
                <p class="lead mb-0" style="color:white">36 Crimea Road
                <br />
                Aldershot, Hampshire, GU11 1UD
                </p>
            </div>

            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4" style="color:white">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/StepbyStep1989/"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/stepbystep1989"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/company/step-by-step-partnership/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/channel/UCvrEEtt6IClvSNlU9SRjNHQ"><i class="fab fa-fw fa-youtube"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/stepbystep_charity/"><i class="fab fa-fw fa-instagram"></i></a>
            </div>
            <!-- Footer Contact-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Contact</h4>
                <p class="lead mb-0" style="color:#86B404">01252 346100
                <br />
                <a href="mailto:info@stepbystep.org.uk">info@stepbystep.org.uk</a>
                </p>
            </div>
        </div>
    </div>
</footer>